{% extends 'base.html' %}
{% load static %}

{% block title %}
    All User
{% endblock title %}
    

{% block css %}
    <link href="{% static 'assets/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css"/>
  
{% endblock css %}



{% block body %}
<!--begin::Toolbar-->
    <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
        <!--begin::Toolbar container-->
        <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                <!--begin::Title-->
                <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">كل الموظفين</h1>
                <!--end::Title-->
            
            </div>
            <!--end::Page title-->
            <!--begin::Actions-->
            <div class="d-flex align-items-center gap-2 gap-lg-3">
               
                <!--begin::Primary button-->
                <a href="{% url 'authuser:add_user' %}" class="btn btn-sm fw-bold btn-primary" >إضافة موظف</a>
                <!--end::Primary button-->
            </div>
            <!--end::Actions-->
        </div>
        <!--end::Toolbar container-->
    </div>
<!--end::Toolbar-->

<!--  start card for all user -->
  <div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">كل الموظفين</h3>
       
    </div>

<!-- start modal active user -->
 <form action="{% url 'authuser:active_user' %}" method="post">
    {% csrf_token %}
    <div class="modal fade" tabindex="-1" id="active">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title text-danger">تنشيط الموظف</h3>

                            <!--begin::Close-->
                            <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                            </div>
                            <!--end::Close-->
                        </div>

                        <div class="modal-body">
                        
                                <p class="text-success" >هل تريد تنسيط هذا الموظف  ؟؟؟</p>
                                <div class="input-group input-group-solid mb-5">
                                
                                    
                                    <input type="text" class="form-control" name="name" id="name" readonly  >
                                    <input type="text" class="form-control" name="id" id="id" hidden>
                                </div>
                            
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">تراجع</button>
                            <button type="submit" class="btn btn-primary">تنشيط الموظف</button>
                        </div>
                    </div>
                </div>
    </div>
</form>
<!-- end modal active user -->
    


<!-- start modal deactive user -->
    <form action="{% url 'authuser:deactive_user' %}" method="post">
        {% csrf_token %}

            <div class="modal fade" tabindex="-1" id="deactive">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title text-danger">إيقاف تنشيط الموظف</h3>

                            <!--begin::Close-->
                            <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                            </div>
                            <!--end::Close-->
                        </div>

                        <div class="modal-body">
                        
                                <p class="text-danger" >هل تريد إيقاف تنشيط هذا الموظف ؟؟؟؟</p>
                                <div class="input-group input-group-solid mb-5">
                                
                                    
                                    <input type="text" class="form-control" name="name" id="name" readonly  >
                                    <input type="text" class="form-control" name="id" id="id" hidden>
                                </div>
                            
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">تراجع</button>
                            <button type="submit" class="btn btn-primary">إيقاف تنشيط الموظف</button>
                        </div>
                    </div>
                </div>
            </div>
    </form>

<!-- end modal deactive user -->




    <div class="card-body">
        <table id="kt_datatable_dom_positioning" class="table table-striped table-row-bordered gy-5 gs-7 border rounded">
            <thead>
                <tr class="fw-bold fs-6 text-gray-800 px-7">
                    <th>التسلسل</th>
                    <th>الأسم</th>
                    <th>الوظيفة</th>
                    <th>الايميل</th>
                    <th>التليفون</th>
                    <th>الحالة</th>
                    <th>الصورة</th>
                    
                    <th>العمليات</th>
                </tr>
            </thead>
            <tbody>
                
                {% for object in users %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{object.full_name}}</td>
                        <td>{{object.job}}</td>
                        <td>{{object.email}}</td>
                        <td>{{object.phone}}</td>
                        
                      <td>
                            {% if object.is_active %}
                                <span class="active-status">
                                <span class="dot"></span> Active
                                </span>
                            {% else %}
                                <span class="inactive-status">
                                <span class="dot"></span> De-Active
                                </span>
                            {% endif %}
                        </td>

                            
                        
                        <td>
                            
                            {% if object.image %}
                            <div class="symbol symbol-40px me-5">
                                <img src="{{object.image.url}}" alt="">
                            </div>
                                
                            {% else %}
                            <div class="symbol symbol-40px me-5">
                                <img src="{% static 'assets/custom/45.jpg' %}" alt="Default Image" class="user-photo">
                            </div>
                             
                            {% endif %}
                                
                            
                        </td>
                        <td>
                            <div class="me-0">
                                            <button class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                                <i class="ki-solid ki-dots-horizontal fs-2x"></i>
                                            </button>
                                            <!--begin::Menu 3-->
                                            <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold w-200px py-3" data-kt-menu="true" style="">
                                                <!--begin::Heading-->
                                                <div class="menu-item px-3">
                                                    <div class="menu-content text-muted pb-2 px-3 fs-7 text-uppercase">العمليات</div>
                                                </div>
                                                <!--end::Heading-->
                                                <!--begin::Menu item-->
                                                <div class="menu-item  px-3 ">
                                                    <a class=" menu-link " href="{% url 'authuser:edit_user' object.id %}" >تعديل موظف</a>
                                                </div>
                                                <!--end::Menu item-->
                                                <!--begin::Menu item-->
                                                <div class="menu-item  px-3">
                                                     
                                                     {% if object.is_active %}
                                                        <a data-bs-toggle="modal" data-bs-target="#deactive" href="" class = " text-danger menu-link "
                                                        data-id="{{object.id}}"
                                                        data-name="{{object.full_name}}"
                                                        >إيقاف التنشيط</a>
                                                     {%else %}
                                                        <a data-bs-toggle="modal" data-bs-target="#active"
                                                        data-id="{{object.id}}"
                                                        data-name="{{object.full_name}}"
                                                         href="" class = " text-success menu-link ">تنشيط </a>
                                                     {% endif %}
                                                        
                                                    
                                                </div>
                                                <!--end::Menu item-->
                                                    <!--begin::Menu item-->
                                                <div class="menu-item  px-3">
                                                    <a href="#" class="menu-link px-3">التفاصيل</a>
                                                </div>
                                                <!--end::Menu item-->
                                            
                                            
                                            
                                            </div>
                                            <!--end::Menu 3-->
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                    
             
              
            </tbody>
        </table>
    </div>
   
</div>
  <!-- end card for all user -->
    
{% endblock body %}


{% block js %}
    <script src="{% static 'assets/custom/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'assets/plugins/custom/datatables/datatables.bundle.js' %}"></script>
    <script>
        $("#kt_datatable_dom_positioning").DataTable({
	"language": {
		"lengthMenu": "Show _MENU_",
	},
	"dom":
		"<'row mb-2'" +
		"<'col-sm-6 d-flex align-items-center justify-conten-start dt-toolbar'l>" +
		"<'col-sm-6 d-flex align-items-center justify-content-end dt-toolbar'f>" +
		">" +

		"<'table-responsive'tr>" +

		"<'row'" +
		"<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
		"<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
		">"
});
    </script>
    <script>
            $('#deactive').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget)
        var id = button.data('id')
        var name = button.data('name')
        
        var modal = $(this)
        modal.find('.modal-body #id').val(id);
        modal.find('.modal-body #name').val(name);
    
    });
    </script>

      <script>
            $('#active').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget)
        var id = button.data('id')
        var name = button.data('name')
        
        var modal = $(this)
        modal.find('.modal-body #id').val(id);
        modal.find('.modal-body #name').val(name);
    
    });
    </script>

{% endblock js %}
    
    
    
    