{% extends 'base.html' %}

{% block title %}
    Detail  Tinder
{% endblock title %}
    

{% block css %}
   <style>
    label{
        color: red;
    }
    table{
        font-size: larger;
        color: red;
       
    }
    thead{
        font: bolder;
        color: blue;
        background-color: greenyellow !important ;
    }
   </style>

   
{% endblock css %}



{% block body %}
<!--begin::Toolbar-->
    <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
        <!--begin::Toolbar container-->
        <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                <!--begin::Title-->
                <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">Detail Tinder</h1>
                <!--end::Title-->
            
            </div>
            <!--end::Page title-->
            
        </div>
        <!--end::Toolbar container-->
    </div>
<!--end::Toolbar-->


<!-- MODAL item  edit -->
 <form action="{% url 'tinder:edit_item' %}" method="post"  >
    {% csrf_token %}
    <div class="modal fade" tabindex="-1" id="update_item">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">تعديل البنود</h3>

                    <!--begin::Close-->
                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                        <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                    </div>
                    <!--end::Close-->
                </div>

                <div class="modal-body">
                    <p>هل تريد تعديل هذا البند ؟؟؟</p>
                    <input type="hidden" name="id" id="id">
                    <label for="">البيان</label>
                    <input type="text" class="form-control" name="statment" id="statment">
                    <label for="">البند</label>
                    <input type="text" class="form-control" name="item" id="item">
                    <label for="">الكمية</label>
                    <input type="text" class="form-control" name="quantity" id="quantity">
                    <label for="">الكود</label>
                    <input type="text" class="form-control" name="code" id="code">
                    <label for="">سعر التوريد</label>
                    <input type="text" class="form-control" name="supply_price" id="supply_price">
                    <label for="">سعر الترسية</label>
                    <input type="text" class="form-control" name="tinder_price" id="tinder_price">
                    <label for="">الوحدة</label>
                    <input type="text" class="form-control" name="unit" id="unit">
                   
                   
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">تراجع</button>
                    <button type="submit" class="btn btn-primary">تعديل البند </button>
                </div>
            </div>
        </div>
    </div>
 </form>
<!-- END MODEL item  edit-->

<!-- MODAL FILE  delete -->
 <form action="{% url 'tinder:delete_item' %}" method="post"  >
    {% csrf_token %}
    <div class="modal fade" tabindex="-1" id="delete_item">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">حذف البند</h3>

                    <!--begin::Close-->
                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                        <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                    </div>
                    <!--end::Close-->
                </div>

                <div class="modal-body">
                    <p class="text-danger">هل تريد حذف هذا البند ؟؟؟</p>
                    <input type="text" name="title" id="title">
                   
                    <input type="hidden" name="id" id="id">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">حذف البند </button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- END MODEL FILE  delete-->


{% if tinder.status == "AWARED" %}
    
    {% if not project1 %}
        <a href="{% url 'myproject:myproject' tinder.id  %}" class="btn btn-primary">إنشاء مشروع</a>
    {% else %}
        <a href="" class="btn btn-success">فتح المشروع</a>
    {% endif %}


    
{% endif %}


<div class="container mt-4">
    <div class="card shadow-lg border-0">
        <div class="card-header bg-primary text-white text-center fw-bold py-3  d-flex justify-content-center align-items-center">
            تفاصيل المناقصة
        </div>

        <div class="card-body">

            <!-- ✅ الجزء الأول: بيانات المناقصة -->
            <h5 class="fw-bold text-primary mb-3">البيانات الأساسية</h5>
            <div class="table-responsive mb-4">
                <table class="table table-bordered align-middle" style="height: 140px;">
                    <tbody>
                        <tr>
                            <th style="width: 20%;">كود المناقصة</th>
                            <td style="width: 80%;">{{ tinder.code }}</td>
                        </tr>
                        <tr>
                            <th>عنوان المناقصة</th>
                            <td>{{ tinder.title }}</td>
                        </tr>
                        <tr>
                            <th>الوصف</th>
                            <td>{{ tinder.descriptions }}</td>
                        </tr>
                        <tr>
                            <th>الحالة</th>
                            <td>{{ tinder.status }}</td>
                        </tr>
                        <tr>
                            <th>تاريخ الفتح</th>
                            <td>{{ tinder.open_date|date:"M d, Y" }}</td>
                        </tr>
                        <tr>
                            <th>تاريخ الإغلاق</th>
                            <td>{{ tinder.close_date|date:"M d, Y" }}</td>
                        </tr>
                        <tr>
                            <th>نوع التأمين</th>
                            <td>{{ tinder.insurance_type }}</td>
                        </tr>
                        <tr>
                            <th>المبلغ التأميني</th>
                            <td>{{ tinder.insurance_amount }}</td>
                        </tr>
                        <tr>
                            <th>قيمة العرض</th>
                            <td>{{ tinder.offer_value }}</td>
                        </tr>
                        <tr>
                            <th>الشركة المعلنة</th>
                            
                            {% if tinder.company_by %}
                                 <td>{{ tinder.company_by}}</td>
                            {% else %}
                                 <td>None</td>
                            {% endif %}
                                
                           
                        </tr>
                        <tr>
                            <th>الشركة الفائزة</th>
                              {% if tinder.company_by %}
                                 <td>{{ tinder.awared_by}}</td>
                            {% else %}
                                 <td>None</td>
                            {% endif %}
                                
                        </tr>
                        <tr>
                            <th>تم الإنشاء بواسطة</th>
                              {% if tinder.created_by %}
                                 <td>{{ tinder.created_by}}</td>
                            {% else %}
                                 <td>None</td>
                            {% endif %}
                                
                        </tr>
                        <tr>
                            <th>تاريخ الإنشاء</th>
                            <td>{{ tinder.created_at|date:"Y-m-d H:i" }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

      

            <!-- ✅ الجزء الثالث: الملفات -->
            {% if files %}
            <h5 class="fw-bold text-primary mb-3">الملفات المرفقة</h5>
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th>اسم الملف</th>
                            <th>تحميل الملف</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    
                    {% for f in files %}
                          <tr>
                            <td>{{ f.title }}</td>
                            <td>
                                <a href="{{ f.files.url }}" target="_blank" class="btn btn-sm btn-outline-primary">
                                    عرض / تحميل
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                        
                      
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
        
    </div>
</div>
<h1>البنود</h1>
<div class="table-responsive" style="width: 80%; padding-right: 10%;">

{% if items %}
    <table class="table gs-7 gy-7 gx-7">
		<thead>
                   
			<tr class="fw-semibold fs-6 text-gray-800 border-bottom border-gray-200">
				<th>التسلسل</th>
				<th>البيان</th>
				<th>البند</th>
				<th>الكمية</th>
				<th>سعر التوريد</th>
				<th>سعر المناقصة</th>
				<th> الوحدة</th>
				
				<th> Action</th>
			</tr>
		</thead>
		<tbody>
        
        {% for item in items %}
           <tr>
				<td>{{forloop.counter}}</td>
				<td style="width: 32%;">{{item.statment}}</td>
				<td>{{item.item}}</td>
				<td>{{item.quantity}}</td>
				<td>{{item.supply_price}}</td>
				<td>{{item.tinder_price}}</td>
				<td>{{item.unit}}</td>
				 <td style="width: 20%;" >

                                    <a href="#" class="btn btn-primary" data-bs-target="#update_item" data-bs-toggle="modal"
                                        data-id="{{item.id}}"
                                        data-item="{{item.item}}"
                                        data-quantity="{{item.quantity}}"
                                        data-supply_price="{{item.supply_price}}"
                                        data-tinder_price="{{item.tinder_price}}"
                                        data-statment="{{item.statement}}"
                                        data-unit="{{item.unit}}"  >تعديل</a>

                                    <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_item"
                                        data-id="{{item.id}}"
                                        data-item="{{item.item}}">حذف</a> </td>
			</tr> 
        {% endfor %}
            
			
			
		</tbody>
	</table>
{% else %}
<h1 class="text-danger">معذرة لا توجد بنود حتى الان</h1>
{% endif %}
    
	
</div>



    
{% endblock body %}


{% block js %}
    <script>
            $('#update_item').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget)
        var id = button.data('id')
        var item = button.data('item')
        var quantity = button.data('quantity')
        var code = button.data('code')
        var supply_price = button.data('supply_price')
        var tinder_price = button.data('tinder_price')
        var unit = button.data('unit')
        var statment = button.data('statment')
       

        
        var modal = $(this)
        modal.find('.modal-body #id').val(id);
        modal.find('.modal-body #item').val(item);
        modal.find('.modal-body #quantity').val(quantity);
        modal.find('.modal-body #code').val(code);
        modal.find('.modal-body #supply_price').val(supply_price);
        modal.find('.modal-body #tinder_price').val(tinder_price);
        modal.find('.modal-body #unit').val(unit);
        modal.find('.modal-body #statment').val(statment);
        
    
    });
     </script>

    <script>
            $('#delete_item').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget)
        var id = button.data('id')
        var name = button.data('item')
       

        
        var modal = $(this)
        modal.find('.modal-body #id').val(id);
        modal.find('.modal-body #title').val(name);
        
    
    });
    </script>
    
{% endblock js %}
    
    
    
    