{% extends "base.html" %}
{% load static %}

{% block title %} إضافة توريد جديد {% endblock %}

{% block body %}
<div class="container py-4">

    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">إضافة توريد جديد</h4>
        </div>

        <div class="card-body">

            <form method="POST">
                {% csrf_token %}

                <div class="row mb-3">
                    <div class="col-md-4">
                        <label class="form-label fw-bold">المخزن</label>
                        <select name="store" class="form-select">
                            {% for st in stores %}
                                <option value="{{ st.id }}">{{ st.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label fw-bold">المورد</label>
                        <select name="supplier" class="form-select">
                            {% for sp in suppliers %}
                                <option value="{{ sp.id }}">{{ sp.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label fw-bold">التاريخ</label>
                        <input type="date" class="form-control" name="date" required>
                    </div>
                </div>

                <hr>

                <h5 class="fw-bold">أصناف التوريد</h5>

                <table class="" id="itemsTable">
                    <thead class="table-light">
                        <tr>
                            <th>الصنف</th>
                            <th>الكمية</th>
                            <th>السعر</th>
                            <th>الاجمالى</th>
                            <th>إزالة</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>

                <button type="button" class="btn btn-success" onclick="addRow()">إضافة صنف +</button>

                <hr>

                <button class="btn btn-primary px-5">حفظ التوريد</button>
            </form>

        </div>
    </div>

</div>



{% endblock %}


{% block js %}
    <script>
function addRow() {
    let row = `
        <tr>
            <td>
                <select class="form-select" name="product[]" data-control="select2" data-placeholder="اختر الصنف">
                    {% for pr in products %}
                      
                        <option value="{{ pr.id }}">{{ pr.name }}</option>
                    {% endfor %}
                </select>
            </td>
            

            <td><input type="number" step="0.1" name="qty[]" class="form-control"></td>
            <td><input type="number" step="0.1" name="price[]" class="form-control"></td>
            <td><input type="number" step="0.1" name="total[]" class="form-control" readonly></td>

            <td>
                <button type="button" class="btn btn-danger btn-sm" onclick="this.closest('tr').remove()">X</button>
            </td>
        </tr>
    `;
    document.querySelector("#itemsTable tbody").insertAdjacentHTML("beforeend", row);
}
</script>
{% endblock js %}
    
