  

  {% extends 'base.html' %}

{% block title %}
تعديل البند الرئيسى
{% endblock title %}
    

{% block css %}
    
{% endblock css %}



{% block body %}
<!--begin::Toolbar-->
    <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
        <!--begin::Toolbar container-->
        <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                <!--begin::Title-->
                <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">تعديل البند الرئيسى</h1>
                <!--end::Title-->
            
            </div>
            <!--end::Page title-->
           
        </div>
        <!--end::Toolbar container-->
    </div>
<!--end::Toolbar-->
<form action="" method="post">
    {% csrf_token %}
    <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-7">

                    <div class="card shadow-lg border-0 rounded-4">
                        <div class="card-header bg-primary text-white rounded-top-4 py-3">
                            <h4 class="mb-0"><i class="fas fa-warehouse me-2"></i>تعديل البند الرئيسى </h4>
                        </div>

                        <div class="card-body p-4">
                            <form action="" method="POST">
                                {% csrf_token %}

                                <div class="mb-3">
                                    <label class="form-label fw-semibold">اسم البند الرئيسى</label>
                                    <input type="text" name="name" value="{{mainitem.name}}"
                                        class="form-control form-control-lg rounded-3"
                                        placeholder="اكتب اسم البراند">
                                </div>

                              

                            

                          

                                <div class="mb-3">
                                    <label class="form-label fw-semibold">ملاحظات</label>
                                    <textarea name="notes" rows="4" 
                                            class="form-control rounded-3"
                                            placeholder="أدخل ملاحظات عن المخزن">{{mainitem.notes}}</textarea>
                                </div>

                                <div class="text-center mt-4">
                                    <button class="btn btn-primary btn-lg px-5 rounded-3" type="submit" >
                                        <i class="fas fa-check-circle ms-2"></i>حفظ البند الرئيسى
                                    </button>
                                </div>

                            </form>
                        </div>

                    </div>

                </div>
            </div>
    </div>
</form>
    
{% endblock body %}


{% block js %}
    
{% endblock js %}
    
    
    
    
 