{% extends 'base.html' %}
{% load static %}

{% block title %}
كل المخازن
{% endblock title %}
    

{% block css %}
   <link href="{% static 'assets/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css"/> 
{% endblock css %}



{% block body %}
<!--begin::Toolbar-->
    <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
        <!--begin::Toolbar container-->
        <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                <!--begin::Title-->
                <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">كل المخازن</h1>
                <!--end::Title-->
            
            </div>
            <!--end::Page title-->
            <!--begin::Actions-->
            <div class="d-flex align-items-center gap-2 gap-lg-3">
                <!--begin::Secondary button-->
                <a href="#" class="btn btn-sm fw-bold btn-secondary" data-bs-toggle="modal" data-bs-target="#kt_modal_create_app">استراد البيانات</a>
                <!--end::Secondary button-->
                <!--begin::Primary button-->
                <a href="{% url 'inventory:add_store' %}" class="btn btn-sm fw-bold btn-primary" >إضافة مخزن</a>
                <!--end::Primary button-->
            </div>
            <!--end::Actions-->
        </div>
        <!--end::Toolbar container-->
    </div>
<!--end::Toolbar-->



<form action="{% url 'inventory:delete_store' %}" method="post">
   {% csrf_token %}

    <div class="modal fade" tabindex="-1" id="delete_store">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">حذف مخزن</h3>

                    <!--begin::Close-->
                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                        <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                    </div>
                    <!--end::Close-->
                </div>

                <div class="modal-body">
                    <p class="text-danger">هل تريد هذا المخزن ؟؟؟؟؟</p>
                    <input type="text"  name="name" id="name" class="form-control">
                    <input type="hidden" name="id" id="id" class="form-control">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">تراجع</button>
                    <button type="submit" class="btn btn-primary">حذف المخزن</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% if stores %}
    <table id="kt_datatable_dom_positioning" class="table table-striped table-row-bordered gy-5 gs-7 border rounded">
        <thead>
            <tr class="fw-bold fs-6 text-gray-800 px-7">
                <th>التسلسل</th>
                <th>أسم المخزن</th>
                <th>المدير المسئول</th>
                <th>الكود</th>
                <th>الموقع</th>
                
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        
        {% for object in stores %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{object.name}}</td>
                <td>{{object.manager}}</td>
                <td>{{object.code}}</td>
                <td>{{object.location}}</td>
                 <td>
                  <a href="{% url 'inventory:edit_store' object.id %}" class="btn btn-primary"  >تعديل</a>
                  <a href="{% url 'inventory:detail_store' object.id %}" class="btn btn-warning">تفاصيل</a>
                  
                  <a href="#" class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#delete_store"
                  data-id="{{object.id}}"
                  data-name="{{object.name}}"
                
                   >حذف</a>
              </td>
                
            </tr>
        {% endfor %}
            
          
           
        </tbody>
    </table>
{% else %}
    <p class="text-danger">معذرة لا توجد اى بيانات حتى الان</p>
{% endif %}
    

   
        
{% endblock body %}


{% block js %}
    <script src="{% static 'assets/plugins/custom/datatables/datatables.bundle.js' %}"></script>
    <script>
                $("#kt_datatable_dom_positioning").DataTable({
            "language": {
                "lengthMenu": "Show _MENU_",
            },
            "dom":
                "<'row mb-2'" +
                "<'col-sm-6 d-flex align-items-center justify-conten-start dt-toolbar'l>" +
                "<'col-sm-6 d-flex align-items-center justify-content-end dt-toolbar'f>" +
                ">" +

                "<'table-responsive'tr>" +

                "<'row'" +
                "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
                "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
                ">"
             });
    </script>
    <script>
            $('#delete_store').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget)
            var id = button.data('id')
            var name = button.data('name')
            
            var modal = $(this)
            modal.find('.modal-body #id').val(id);
            modal.find('.modal-body #name').val(name);
        
        });
    </script>
{% endblock js %}
    
    
    
    